.content
  padding: 25px 0
  max-width: 1200px
  min-height: 80vh
  margin: 50px auto
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1)

  .offers
    display: flex
    justify-content: space-between

    .offer
      padding: 10px
      margin: 0px 25px
      display: flex
      width: 100%
      gap: 10px
      background-color: #f9fafb
      border: 2px solid #e0e0e0
      border-radius: 5px

    .offerOwner
      display: flex
      min-width: 30%
      flex-direction: column
      gap: 5px

      b
        font-weight: 700
        font-size: 18px
        min-width: 80px
        display: inline-block

      h5
        font-size: 18px

      p
        font-size: 16px


    .offerContent 
      margin-right: auto
      width: 100%
      padding: 10px 20px
      border-left: 2px solid #e0e0e0
      border-right: 2px solid #e0e0e0

    .offerControls
      display: flex
      flex-direction: column
      padding-left: 20px
      gap: 10px

      button
        text-align: center
        max-width: 340px
        padding: 10px 22px
        background-color: #fff
        border-radius: 5px
        font-size: 14px
        font-weight: 400
        margin-bottom: 10px
        cursor: pointer

      .buttonApprove
        border: 2px solid #28d2d0
        color: #28d2d0

      .offerReject
        border: 2px solid #d29528
        color: #d29528
